DATABASE_URL=postgres://bouncer:bouncer@127.0.0.1:5436/bouncer?sslmode=disable
SITE_ROOT=../apps
HUB_DIR=
LISTEN_ADDR=:8080
PUBLIC_BASE_URL=http://127.0.0.1:8080
ROUTING=path
AUTH_BOOTSTRAP_USERNAME=admin
AUTH_BOOTSTRAP_PASSWORD=change-me
TRUSTED_PROXIES=
COOKIE_SECURE=false
GIT_REMOTE=
GIT_BRANCH=main
DEPLOY_WEBHOOK_SECRET=
DEPLOY_TOKEN=
DEPLOY_POLL_INTERVAL=
BUILDER_URL=http://127.0.0.1:8081
BUILDER_TOKEN=
BUILDER_LISTEN=:8081
WORKSPACE=
DEPLOY_RUNTIME_DIR=
